body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #ffffff;
  }
  
  /* Navbar */
  #navbar {
    transition: 0.3s;
  }
  
  .shrink {
    padding: 5px 10px;
  }
  
  /* Card Product */
  .card-product {
    border: none !important;
    box-shadow: none !important;
  }
  
  .card-product {
    transition: all 0.3s;
  }
  
  .card-product:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  }

  .card-product-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  /* Card author */
  .card-author {
    font-size: 14px;
    text-transform: uppercase;
    color: #666;
  }
  
  /* Rating Star */
  .stars-outer {
    position: relative;
    display: inline-block;
  }
  
  .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
  }
  
  .stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 100;
    color: #ccc;
  }
  
  .stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 100;
    color: #FFCC36;
  }
  
  /* Rating Star Form */
  .rating-stars ul {
    list-style-type: none;
    padding: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
  
  .rating-stars ul>li.star {
    display: inline-block;
  }
  
  .rating-stars ul>li.star>i.fa {
    font-size: 2.5em;
    color: #ccc;
  }
  
  .rating-stars ul>li.star.hover>i.fa {
    color: #FFCC36;
  }
  
  .rating-stars ul>li.star.selected>i.fa {
    color: #FF912C;
  }
  
  /* Footer */
  footer {
    background: #f6f6f6;
  }
  
  .footer-social a {
    font-size: 16px;
  }
  
  .footer-address ul {
    padding: 0;
  }

  .footer-widget {
    
  }
  
  .footer-address ul li {
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
  }
  
  .footer-address ul li .address-text p,
  .footer-address ul li .address-text a {
    margin: 0;
  }
  
  .address-icon {
    display: block;
    text-align: center;
    float: left;
    width: 15px;
    margin-right: 20px;
  }
  
  /* Carousel */
  .carousel-caption {
    top: 20%;
  }
  
  .carousel-caption h1 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
  }
  
  .carousel-caption p {
    font-size: 18px;
  }
  
  /* Button */
  .btn-google {
    color: #FFF !important;
    background-color: #ea4335;
  }
  
  .btn-facebook {
    color: #FFF !important;
    background-color: #3b5998;
  }
  
  .btn-twitter {
    color: #FFF !important;
    background-color: #1c9deb;
  }
  
  /* Benefit */
  .benefit_row {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .benefit_col {
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f6f6f6;
    border-right: solid 1px #FFFFFF;
  }
  
  .benefit_item {
    height: 100px;
  }
  
  .benefit_col:last-child .benefit_col {
    border-right: none;
  }
  
  .benefit_icon i {
    font-size: 30px;
  }
  
  .benefit_content {
    padding-left: 22px;
  }
  
  .benefit_content h6 {
    text-transform: uppercase;
    margin-bottom: 0px;
  }
  
  .benefit_content p {
    margin-bottom: 0px;
    color: #51545f;
  }
  
